:root{
  text-align: center;
  align-items: center;
  align-content: center;
}
header{
  background-color: rgb(53, 53, 95);
  width: 100vw;
}
.App-header {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(41, 39, 39);
  padding: 0;
  min-height: 100vh;
}
#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5vh 10vw 5vh 10vw;
  min-height: 100vh;
  align-items: center;
  align-content: center;
}
footer{
  background-color: rgb(53, 53, 95);
  width: 100vw;
}
p{
  margin: 0;
  padding: 3vh;
  color: #f7f7f7;
} 
#aFooter{
  font-size: 3vh;
}
@media (max-width:900px){
  #container{
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 4vh;
  }
}
@media (max-width:680px){
  #container{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:450px){
  #container{
    grid-template-columns: 1fr;
  }
}

